
body {
  padding: 1em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

form {
  width: 250px;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
}

.input-list {
  width: 90%;
}

.input-add {
  width: 10%;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

canvas {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="120" height="22" style="font-size:18px"><text y="18">▶️ Draai!</text></svg>'), auto;
}

.hidden {
  display: none;
}